<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LogFileAnalysis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AcceptFileController</display-name>
    <servlet-name>AcceptFileController</servlet-name>
    <servlet-class>com.cummins.project734.servlet.AcceptFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptFileController</servlet-name>
    <url-pattern>/AcceptFileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchIndexController</display-name>
    <servlet-name>SearchIndexController</servlet-name>
    <servlet-class>com.cummins.project734.servlet.SearchIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchIndexController</servlet-name>
    <url-pattern>/SearchIndexController</url-pattern>
  </servlet-mapping>
</web-app>